 # Python
__pycache__/
*.py[cod]
*$py.class

# Virtual env
venv/
ENV/
env/
.venv/

# Secrets
.env
.env.*

# OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/

# Logs
*.log

# Downloads
downloads/
Git/

 # Python
__pycache__/
*.py[cod]
*$py.class

# Virtual env
venv/
ENV/
env/
.venv/

# Secrets
.env
.env.*

# OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/

# Logs
*.log

# Downloads
downloads/

cookies.txt
youtube.com_cookies.txt